<%-include("header")-%>
<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita animi labore minus natus excepturi autem impedit iure suscipit nemo numquam dolores dicta officiis doloremque magni fuga quisquam repellendus, et odit voluptate. Cum, natus. Esse, nam dolore deserunt architecto magni natus vel! Fuga nobis similique beatae alias dolore ad rem in!</p>
<%-include("footer")-%>
